<style>
* {
    box-sizing:border-box;
}
body {
    font-family: Arial;
}
#myInput {
    width: 300px;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}
#myList {
    width: 240px;
    display: none;
    list-style-type:none;
    overflow: hidden;;
}
#myList a {
    text-align: center;
    display: block;
    width:100%;
    cursor:pointer;
    background-color: mediumblue;
    color:white;
    padding: 5px;
    font-size: 19px;
    text-decoration: none;
}
#myList a:hover {
    background-color: black;
}
</style>
